:root {
  --vp-code-block-bg: rgba(125, 125, 125, 0.04);
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.1);
  /* code groups */
  --vp-code-tab-bg: rgba(125, 125, 125, 0.04);
  --vp-code-tab-text-color: rgba(56 56 56 / 30%);
  --vp-code-tab-active-text-color: var(--vp-c-text-light-2);
  --vp-code-tab-hover-text-color: var(--vp-c-text-dark-3);
  /* --vp-code-tab-active-bar-color: red; */
  /* fix TIP on light: the default one is too light */
  --vp-custom-block-tip-text: rgb(12, 124, 108);
  --vp-custom-block-tip-border: rgba(12, 124, 108, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: used by --vp-c-text-2 */
  --vp-c-text-light-2: rgba(56 56 56 / 70%);
  /* fix contrast: lang name on gray code block */
  --vp-c-text-dark-3: rgba(180, 180, 180, 0.7);
}

.dark {
  --vp-code-block-bg: rgba(0, 0, 0, 0.2);
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  /* code groups */
  --vp-code-tab-bg: rgba(0, 0, 0, 0.2);
  --vp-code-tab-text-color: rgba(235, 235, 235, 0.3);
  --vp-code-tab-active-text-color: var(--vp-c-text-dark-2);
  --vp-code-tab-hover-text-color: var(--vp-c-text-dark-3);
  /* --vp-c-text-code: #c0cec0; */
  /* fix TIP: check the same above (these are the defaults) */
  --vp-custom-block-tip-text: rgb(18, 181, 157);
  --vp-custom-block-tip-border: rgba(18, 181, 157, 0.5);
  --vp-custom-block-tip-bg: rgba(18, 181, 157, 0.1);
  /* fix contrast on gray cards: check the same above (this is the default) */
  --vp-c-text-dark-2: rgba(235, 235, 235, 0.6);
  /* fix lang name: check the same above (this is the default) */
  --vp-c-text-dark-3: rgba(235, 235, 235, 0.38);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #2ca2b4,
    #5598de 24%,
    #7f87ff 45%,
    #f65aad 76%,
    #ec3d43
  );
  /* --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #a39377 50%,
    #b5a589 50%
  ); */
  /* --vp-home-hero-image-filter: blur(30px); */
}

/* @media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
} */

.vp-code-group .tabs label {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding: 0 12px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-code-tab-text-color);
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.25s;
}
